.blockChain-title {
  color: black;
  text-align: left;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
}

.blockchain-item {
  margin: 5px;
  height: fit-content;
  max-width: 90px;
}

.blockchain-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #68757c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  box-shadow: 1px 1px 1px #c0c0c0;
}
.selected {
  background-image: linear-gradient(
    to right,
    #00ad3a,
    #ffc107
  ); /* Gradient background */
  border-color: #ffc107; /* Yellow border color for selected item */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow effect for selected item */
  color: black; /* Text color */
}
.blockchain-button:hover {
  background-color: #4b719a;
}

.image {
  width: 25px;
  aspect-ratio: 1;
}
.more-button {
  position: relative;
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.more-button:hover {
  background-color: #c0c0c0;
}
.downArrow {
  position: absolute;
  width: 15px;
  margin: 5px;
}
