.token-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  border-radius: 15px;
  border: 1px solid rgb(182, 177, 177);
  margin: 5px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.token-item:hover {
  background-color: #eee8e8;
}
.token-item.mount {
  opacity: 1;
  transform: scale(1);
}

.token-item.unmount {
  opacity: 0;
  transform: scale(0.9);
}
.token-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.token-details {
  display: flex;
  flex-direction: column;
}

.token-name {
  font-weight: 600;
  color: black;
}

.token-symbol,
.token-address {
  font-size: 0.9em;
  color: #555;
}
